<div class="apt_appointment_listing_section">
  <div class="apt_listing_container">
    <div class="apt_listing_appointment_row" *ngFor="let checkUp of CheckUpTypes">

      <h2>
        <a href="javascript:void(0)" [routerLink]="'/'">{{ checkUp }} </a>
      </h2>

      <div class="apt_card">
        <div class="apt_time_remain">12:09:21 AM</div>
        <div class="apt_patient_details">
          <span class="apt_patient_name">Patient Name Blah</span>
          <i class="apt_patient_details_separator"></i> <!-- Separator-->
          <span class="apt_patient_age">39</span>
          <span class="apt_patient_gender" [ngStyle]="(gender == 'Male')? {'background-color':'rgb(109, 218, 233)'} : ( (gender == 'Female')? {'background-color': 'rgb(241, 153, 219)'} : {'background-color': ' rgb(212, 208, 211)'}) ">{{gender}}</span>
          <span class="apt_appointed_doctor_name">
            <a href="javascript:void(0)" [routerLink]="['/']">Dr. Dolittle Dolittle Dolittle</a>
          </span>
        </div>
        <div class="apt_appoint_time">04:40</div>
      </div>

    </div>
  </div>
</div>
