
<div class="{{apis.cssKeyword}}filter_header">
    <p class="show-center">Patient-Doctor Appointments</p>
    <div class="{{apis.cssKeyword}}filter_select">
        <select>
            <option value="">Ages</option>
            <option *ngFor="let age of ages" value="age">{{age}}</option>
        </select>
        <select>
            <option value="">Months</option>
            <option *ngFor="let month of months" value="month">{{month}}</option>
        </select>
        <button (ngSubmit)="getAppointments()">
            <strong>Filter</strong>
        </button>
    </div>
</div>
