@charset "UTF-8";

*{
    margin: 0px;
}
.container
{
    margin:5px 200px;
    font-family: Arial, Helvetica, sans-serif;
}
.appointment_heading
{
    background-color: greenyellow;
    height: 40px;
    width: auto;
    color: black;
    padding: 10px 0;
    font-size: 25px;
    margin-top: 5px;
}
.show-left
{
    text-align: left;
}
.show-right
{
    text-align: right;
}
.show-center
{
    text-align: center;
}

@media (max-width:615px) {
  .appointment_heading {
     font-size: 20px;
     height: 30px;
  }
}
@media (max-width:420px) {
  .appointment_heading {
    font-size: 18px;
    height:25px;
    font-weight: 600;
  }
}
