<section class="apt_listing_tabs_section">
  <div class="apt_listing_tabs">
    <ul>
      <li>
        <a href="javascript:void(0)" [routerLink]="'/past-week'" [routerLinkActive]="['selected']"> Past Week </a>
      </li>
      <li>
        <a href="javascript:void(0)" [routerLink]="'/this-week-old'" [routerLinkActive]="['selected']"> This Week Old  </a>
      </li>
      <li>
        <a href="javascript:void(0)" [routerLink]="'/today'" [routerLinkActive]="['selected']"> Today </a>
      </li>
      <li>
        <a href="javascript:void(0)" [routerLink]="'/this-week-upcomming'" [routerLinkActive]="['selected']"> Upcomming This Week </a>
      </li>
      <li>
        <a href="javascript:void(0)" [routerLink]="'/next-week'" [routerLinkActive]="['selected']"> Next Week </a>
      </li>
    </ul>
  </div>
</section>
